# Игнорировать все файлы состояния Terraform
*.tfstate
*.tfstate.*

# Игнорировать файлы с планами Terraform
*.tfplan
*.tfplan.*

# Игнорировать файлы с переменными окружения
*.tfvars
*.tfvars.json

# Игнорировать файлы с конфиденциальной информацией
.secret/
*.pem
*.key
*.crt

# Игнорировать каталоги .terraform
.terraform/

# Игнорировать кэшированные файлы и временные файлы
*.log
*.tmp

# Игнорировать IDE файлы и конфигурации
.vscode/
.idea/
*.swp
*.swo

# Игнорировать операционные системные файлы
.DS_Store
Thumbs.db
